<div class="well">
	<div class="content-inner">
		<h1>Idea Time Happy Hour APIs</h1>
		<h4>developer fun house</h4>
	</div>	
</div>
<div class="row-fluid thumbnails">
  <div class="span4">
  <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>GET /Ideas</h3>
      <p><%= link_to "Ideas API", api_v1_ideas_path %></p>
    </div>
</div>
   <div class="span4">
   <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>GET /Groups</h3>
      <p><%= link_to "Groups API", api_v1_groups_path %></p>
    </div>
</div>
    <div class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>POST /Comment</h3>
      <p>Post comments to an idea. Pass the idea id to Comment API</p>
      <p><pre> {
      url: "/api/v1/comments",
      method: "POST",
      data: data,
      headers: {'Content-Type': 'application/json'}
    } </pre> where data is <pre>data = {body: "body as text", stars:"stars as number", idea_id: "idea id as number"};</pre></p>
    </div>
</div>
</div>