<div class="row-fluid">
	<div class="span9"></div>
	<div class="span3"><%= link_to "For Developers", home_developer_path %></div>
</div>
<div ng-controller="IdeaController">
	<div class="content-inner">
	  <h1 class="pump-up">Testing Tool</h1>
	  <h4 class="lead"><strong>...alcohol infused ideas...</strong></h4>
	  <div class="idea-bar">	    
	        <form class="form-inline search-form" name="ideaForm" ng-submit="ideaForm.$valid &&addIdea()" novalidate>			    	
					<input ng-hide="true" ng-model="idea.user_id" type="text" class="form-control" placeholder="test@test.com" title="Email"  value=1/>             
					<input class="form-control input-xxlarge" required ng-model="idea.description" id="ideaInput" type="text" placeholder="What is your idea?" required>
					<button type="submit" ng-disabled="ideaForm.$invalid" class="btn btn-large btn-warning">Enter</button>
					<p class="small">
						<label class="radio">
						  <input type="radio" name="display" ng-model="idea.display" value="public" checked>Public
						</label>
						<label class="radio">
						  <input type="radio" name="display" ng-model="idea.display" value="private" checked>Private						  
						</label>					
					</p>
					<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

			</form>		       	  
		</div>
	</div>
	<div class="row-fluid">	  
	  <div class="span9">
	  	<div class="panel-heading">
		    <h3 class="panel-title">Greatest ideas</h3>
		  </div>
	  	<div class="list-group">
			<div class="list-group">

			 	<div class="list-group-item blue-bg well" ng-repeat="i in ideas | orderBy:created_at">	
				 		 		  
			    	<span class="badge">
			    		{{i.comments.length}}</span>			   
				    {{i.description}}
				     <cite class="clearfix"> on {{i.created_at | date}} </cite>				     
				    <div class="comments-container">
				    	
					    <div ng-repeat="c in i.comments" ng-show="i.hascomments">
					    	
						    <div class="panel panel-default">
							  <div class="panel-body">
							   {{c.body}}	
							    <cite class="clearfix"> on {{c.created_at | date}} </cite>				   
							  </div>
							</div>								
						</div>	

					</div>						
					<form name="commentForm" novalidate ng-submit="CommentCtrl.addComment(i)" ng-controller="CommentController as CommentCtrl">
						<blockquote >
						 {{CommentCtrl.comment.body}} {{CommentCtrl.comment.stars}}
						</blockquote>
						<select ng-model="CommentCtrl.comment.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
		                  <option value="">Rate this idea</option>
		                </select>
						<input ng-model="CommentCtrl.comment.body" type="text" class="form-control" placeholder="say something about this" title="Comment" required/> 
						<input ng-hide="true" ng-model="CommentCtrl.comment.idea_id" type="text" class="form-control" value={{i.id}} /> 
						<button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-info">Enter</button>  
					</form>
				
			  </div>
			 
			</div>
		</div>
	  </div>
	  <div class="span3">
	  	<!-- location -->
		 <div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">Schedule a ITHH</h3>
		  </div>
		  <div class="panel-body">	    
		    <div class="form-group" >
		     <form name="locationForm" novalidate ng-submit="locationForm.$valid &&LocationCtrl.findPlace()" ng-controller="LocationController as LocationCtrl">
		     	 <textarea class="form-control" required ng-model="LocationCtrl.event.users" id="zipInput" type="text" placeholder="who to invite?"></textarea>
		     	 <p>
			    	<small class="text-info">enter email addresses - comma delimited</small>
				</p>
		     	 <input class="form-control" required ng-model="LocationCtrl.event.schedule" id="zipInput" type="text" placeholder="when?">
			  <input class="form-control" required ng-model="LocationCtrl.event.location.name" id="zipInput" type="text" placeholder="where?">
			  <!--<label class="control-label" required for="zipInput">Find a place</label>
			  <input class="form-control input-mini" required ng-model="LocationCtrl.location.zip" id="zipInput" type="text" placeholder="enter zip" value="44124">
			  <p>
			    <small class="text-info">I already have a location picked.</small>
			</p>-->			
			<p>			 
			  <button type="submit" class="btn btn-warning">Invite</button>			  
			</p>
			<div id="map-canvas"></div>
			</form>
			</div>				
		  </div>
		</div>
	  </div>
	</div>	
	<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body">
    <p>Login with your facebook account. You need to login in order to:
    	<ul><li>Schedule an Idea Time Happy Hour with your possy</li>
    		<li>Enter a private idea</li>
    	</ul>
    </p>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>   
  </div>
</div>  
</div>	


